MainScreen {
  background:$bg;
  # padding:1 2;
}

Header {
  padding: 0 0 0 0;
  background: $header;
  height:3;
  text-style:bold;
}
Header Static {
  margin-top:1;
  margin-left:2;
}

Header Button {
  background:$bg-secondary;
  border:blank;
  margin-right:0;
  transition: background 0.1;
}

Header Button:hover {
  background: $bg;
}

Header Button:focus {
  background: $bg;
}

ContentSwitcher {
  height: 1fr;
  padding:1 2;
}